target/
*.class
*.log
*.jar
*.war
*.ear
*.iml
*.ipr
*.iws
.DS_Store
.idea/
*.swp
*.swo
*.bak
*.tmp
*.orig
*.rej
*.class
*.project
*.classpath
*.settings/
*.factorypath
*.prefs
*.metadata/
*.recommenders/
bin/
build/
out/
.gradle/
.mvn/


.fake